@import "variables"

*
    box-sizing border-box

body
    font-family: font
    padding-top: 50px
    background-color #DCF7F6

img
    max-width: 100%

.btn-primary

    background eakPurple
    font-family brandFont
    padding-top 15px
    padding-bottom 15px
    border darken(eakPurple, 20%)


    &:hover
        background lighten(eakPurple, 20%)


h1
h2
h3
    font-family brandFont
