@import "variables"

*
    box-sizing border-box

body
    font-family: font
    padding-top: 50px
    background-color #DCF7F6

img
    max-width: 100%

h1
h2
h3
    font-family brandFont
    margin-bottom 0.7em

footer
    padding 30px 10px
    text-align center
    background-color #ECE07A

.btn-primary

    background eakPurple
    font-family brandFont
    padding-top 10px
    padding-bottom 10px
    border darken(eakPurple, 20%)


    &:hover
        background lighten(eakPurple, 20%)
