@import "variables"

*
    box-sizing border-box

body
    font-family: font
    padding-top: 50px
    background #dcf7f6

img
    max-width: 100%

h1
h2
h3
    font-family brandFont
    margin-bottom 0.7em
    color eakPurple

footer
    padding 30px 10px
    text-align center
    background-color #ECE07A

.btn-primary

    //background eakPurple
    background lighten(eakPurple, 20%)
    font-family brandFont
    padding-top 10px
    padding-bottom 10px
    border darken(eakPurple, 20%)


    &:hover
        background lighten(lighten(eakPurple, 20%), 20%)

.heading

    text-align center
    margin-top 1em;
    margin-bottom 1em;
