@import "variables"

.benefits

    background rgba(#fff, 0.5)
    margin 10px;

    .benefits__item
        background transparent

    .benefits__item__content

        padding 2em;
        padding-top 1em
        margin 10px;

        h2

            margin-bottom 1.5em
            text-align left

        ul
            padding-left 20px

            li
                margin-bottom 2em
                align-items center

                img
                    display none

        @media screen and (min-width: screen-sm-min)

            margin-left 0
            margin-right 0

            ul
                list-style none
                padding-left 20px

                li
                    margin-bottom 2em
                    display flex
                    align-items center

        @media screen and (min-width: screen-sm-min)

            ul
                li
                    img
                        display block
                        width 40px
                        margin-right 10px

        @media screen and (min-width: screen-lg-min)

            background url('/img/parents/butstacks.png') bottom 30px right 50px no-repeat

            ul
                max-width 55%
