@import "variables"

space=2em
depress=0.2em
h=0.4em

button, .button
  padding 0.75em
  background eakPurple
  border none
  border-radius 0.3em
  color white !important
  font-family 'KG Next To Me', 'Open Sans', sans-serif
  text-align center
  line-height 1.5em
  box-shadow 0 (h/2) 0 lighten(eakPurple, 30%)
  transition all 0.3s ease

  &:hover
    background lighten(eakPurple, 20%)

.button-block
  display block
  text-align center
  width 100%

.cta-cont
  clear both
  text-align center
  min-height 135px

.cta
  @extend .button
  display inline-block
  padding 0.75em 1.5em
  margin space auto
  font-size 0.9em
  text-decoration none
  box-shadow 0 h 0 lighten(eakPurple, 30%)

  &:hover
    background lighten(eakPurple, 10%)
    margin-top space + depress
    margin-bottom space - depress
    box-shadow 0 (h - depress) 0 lighten(eakPurple, 30%)

  &:active
    background lighten(eakPurple, 30%)
