@import "variables"

.btn-primary
    margin: 0 auto;
    display: block;
    width: 175px;
    margin-bottom: 14px;

.student-text
    p
        font-size 1.5em

form
    margin-bottom 20px
    label, input
        width 100%
        
    label, button
        font-family brandFont
        
    input
        margin-bottom 20px
        padding 10px
        border none
        background-color #EAF7F7
    
    input[type=number]
        width 100px
        
    label[for=gender]
        width 100px
    
    label[for=girl], label[for=boy], input[type=radio]
        width 30px
        display inline 

    label[for=age]
        width 50px
    
    button
        background-color darkEakPurple
        color white
        border none