@import "variables"

.ctaStrip

    background eakPurple
    color: #fff
    text-align center
    margin-bottom 25px
    padding 10px
    font-size 20px
    line-height 24px

    p
        margin 0

    a
        color #fff
