.gift-eak
    margin-bottom 50px
    .heading

        margin-bottom 25px

    .cta
        margin-top 50px
        text-align center

    .just-4
        max-height 100px
        position absolute
        bottom 0
        right calc(50% - 315px)

        @media screen and (max-width: 768px)
            right calc(50% - 250px)
            bottom 55px
        
        @media screen and (max-width: 545px)            
            right 20px
            max-height initial
            max-width 20%
        
        @media screen and (max-width: 430px)
            bottom 85px
