@import "variables"

.head-inner

    display none
    position relative
    background #fff
    overflow hidden
    max-height 373px

    video
        width 100%
        height 100%
        max-width 100%


    .text-block

        position absolute
        top 76%
        left 50%
        width 25%
        transform: translate(-50%, -50%);

    @media screen and (min-width: screen-sm-min)

        display block

    @media screen and (min-width: screen-md-min)

        .text-block
            top 86%
