.head-inner
    height auto
    width 100%
    margin auto
    color white
    text-align center
    font-family 'KG Next To Me', 'Open Sans', sans-serif
    background-size auto 200px
    background-position 50% 50%
    background-repeat no-repeat
    position relative

    .video-overlay
        top 0
        left 0
        height 100%
        width 100%
        background-color rgba(10, 10, 10, 0.2)
        position absolute

        .text-block
            bottom 15px
            right 15px
            position absolute
            color #fff
            background-color rgba(49, 41, 90, 0.8)
            max-width 340px;
            text-align left
            h1
                position relative
                z-index 20
                font-size 18px
                padding 10px
                padding-bottom 0;

            p
                font-size 15px;
                padding-left 10px;
                padding-right 10px;
                opacity 0.7
                font-family 'Open Sans', sans-serif

    .kitten-count
        top 117px

    .idea-logo
        width 70px
        position absolute
        top 10px
        left 10px
        opacity 0.8
