.homepage__item

    &:nth-of-type(odd)
        background #fff

    .col-md-12
        padding-top 40px
        padding-bottom 40px

    &:last-of-type
        .col-md-12
            padding-bottom 80px

    @media (min-width: @screen-sm-min)
        .row
            display: flex
            align-items center

.homepage__item__about

    h2
        text-align center

.homepage__item__image

    display flex
    justify-content: center
    align-items center

.homepage__item__buttons
    display flex
    flex-direction column
    align-items center

