.kitten-count
  position absolute
  top 117px
  left 50%
  width 111px
  letter-spacing 0.41em
  text-align right
  font-family 'Open Sans', sans-serif
  font-size 15px
  font-weight 300
  color #555
