@import "variables"

.testimonial
  font-style italic
  font-size 0.8em

  cite
    display block
    font-size 1.1em
    text-align right
    font-weight 300
    font-style normal

ul
  list-style disc
  padding-left 1.5em

#signup
  display none
  position absolute
  top 0
  left 0
  width 100%
  z-index 10
  color white

  &.active
    display block
    animation show-signup 0.3s ease-out

  .signup-container
    margin auto
    max-width 450px

  button
    box-shadow none

  .form-group
    width 100%
    display table

    *
      display table-cell
      white-space nowrap

    .addon
      width 1%

  .input
    width auto

  input
    width 100%

  h4
    text-align center
    margin-top 50px
    font-family brandFont

  .disclaimer
    width 80%
    margin 20px auto
    text-align center
    opacity 0.8

@keyframes show-signup
  from
    opacity 0
    transform translateY(-50px)

  to
    opacity 1
    transform translateY(0)

.landing
  background-color #EBDF7B
  margin-bottom 50px

  .container
    background-color darkEakPurple
    position relative
    width 100%

    &:after, &:before
      content " "
      position absolute
      z-index 1
      top 0
      display block
      width 100%
      height 100%
      background-position bottom

    &:after
      background-image url(/img/landing-bg.jpg)
      background-size 450px auto
      background-repeat no-repeat

  header
    margin auto
    margin-top 20px
    font-size 0.7em
    text-align center
    font-family brandFont

    h1
      font-size 3.5em
      line-height 1.3em

    h2
      font-size 1em

  main, .footer-cont
    width 90%
    margin 0 auto

  main
    position relative
    padding-bottom 140px
    z-index 2
    color white

  .cont
    font-size 0.9em
    clear both
    margin-top 60px

  .cta
    margin-top 60px

  a
    color lighten(blue, 70%)

  h3
    margin-top 30px
    font-size 24px
    text-align center

  h4
    font-size 20px

  p
    margin-top 20px
    font-size 16px
    font-weight 300
    opacity 0.8

  form
      padding-top 20px

  button, input, label, .button
    display block
    height 40px
    padding 0 10px
    margin 0
    line-height 40px
    font-family inherit
    font-size inherit
    background none
    border none
    color white

  button, input, .button
    background rgba(lightEakPurple, 0.3)
    border 2px solid rgba(lightEakPurple, 0.4)
    border-radius 5px
    transition all 0.3s ease

    &:hover, &:focus
      background rgba(lighten(lightEakPurple, 20%), 0.5)

  radius = 5px
  button, .button
    margin auto
    margin-top 15px
    font-size 0.7em
    font-family brandFont
    cursor pointer

  input
    width 100%

  label
    margin 0
    padding 0
    font-size 0.8em

  #signed-up-go
    display inline-block
    text-decoration none
    float none
    margin-left auto
    border-radius 5px
    margin-top 15px
    font-size 16px

  .kitten-count
    z-index 3
    top auto
    bottom 66px
    font-size 15px
    width 141px

  footer
    background #EBDF7B

  @media screen and (min-width: 450px)
    .container:after
      background-size 600px auto

    main, .footer-cont
      width 415px

    main
      padding-bottom 175px

    header
      margin-top 40px
      font-size 0.9em

    .kitten-count
      bottom 92px
      font-size 19px
      width 187px

  @media screen and (min-width: 600px)
    .container
      &:before
        background-image url(/img/landing-bg-strip.png)
        background-size 1px 183.2px
        background-repeat repeat-x

      &:after
        background-image url(/img/landing-bg-large.jpg)
        background-size 1000px auto

    main
      padding-bottom 200px

    .kitten-count
      bottom 112px
      font-size 24px
      width 234px

  @media screen and (min-width: 900px)
    main, .footer-cont
      width 800px

    main
      padding-top 50px
      padding-bottom 500px

    header
      margin 0
      font-size 0.75em

      h1
        text-align left

      h3
        margin 0 5em
        margin-top -1.35em
        font-size 4.5em
        line-height 1.5em

    h3
      margin 0

    h3, p
      text-align inherit

    button, input, label
      float left

    button
      margin 0
      border-top-left-radius 0
      border-bottom-left-radius 0

    input
      width 300px
      border-right none
      border-top-right-radius 0
      border-bottom-right-radius 0

    label
      padding 0 10px

    .summary
      padding-right 2em
      text-align justify

    .list
      padding-left 2em

  @media screen and (min-width: 1200px)
    .container
      background-size 1px 219px

      &:after
        background-size 1200px auto

    main, .footer-cont
      width 1100px

    header
      font-size 0.4em

    .cont
      padding-top 5px

    h3
      font-size 29px

    .kitten-count
      bottom 137px
      font-size 29px
      width 282px

  @media screen and (min-width: 1400px)
    .container
      &:before
        background-size 1px 255px

      &:after
        background-size 1400px auto

    main
      padding-bottom 250px

    .kitten-count
      bottom 162px
      font-size 34px
      width 329px

.light.landing
  .container
    background eakSkyBlue

    :after
      background-image url(/img/landing-bg-light.jpg)

  main
    color #333

  @media screen and (min-width: 600px)
    .container
      &:before
        background-image url(/img/landing-bg-strip-light.png)

      &:after
        background-image url(/img/landing-bg-large-light.jpg)
