@import "variables"

.navbar-default

    .navbar-brand

        font-family brandFont
        color eakPurple

        &:hover

            color hoverColor

    .navbar-nav

        li
            a
                color eakPurple
                &:hover
                    color hoverColor

