@import "variables"

.news-items-container	
	width 100%

.news-item	
	width 100%
	padding 15px

.categories
	width 100%

.category-button
	padding 10px 30px
	display block
	margin-bottom 10px

@media (min-width: 768px)
	.news-item
		width 50%
	
	.category-button
		display inline-block
		margin-bottom 0

	.categories
		width 712px
		margin 0 auto
		padding 0
		margin-bottom 20px

@media (min-width: 992px)
	.news-item
		width 33%
	

		