@import "variables"

.parents__item

    font-size 20px
    background #dcf7f6

    .row
        flex-direction row

    img
        max-width 80%

    &:nth-of-type(odd)

        background #fff

        .row
            flex-direction row-reverse

    .col-md-12
        padding-top 40px
        padding-bottom 40px

    &:last-of-type
        .col-md-12
            padding-bottom 80px

    @media screen and (min-width: screen-sm-min)
        .row
            display: flex
            align-items center

    .heading

        padding-bottom 0

        h2
            margin-bottom 10px

    .parents__item__image

        display flex
        justify-content: center
        align-items center
        padding-top 3em
        position relative

        .price-badge

            position absolute
            right 25px
            top 0

    @media screen and (min-width: screen-sm-min)
        .parents__item__image
            padding-top 0
