@import "variables"

.parents__item

    .row
        flex-direction row-reverse

    img
        max-width 80%

    &:nth-of-type(odd)

        .row
            flex-direction row

    .col-md-12
        padding-top 40px
        padding-bottom 40px

    &:last-of-type
        .col-md-12
            padding-bottom 80px

    @media screen and (min-width: screen-sm-min)
        .row
            display: flex
            align-items center

.parents__item__image

    display flex
    justify-content: center
    align-items center

.parents__item--benefits
    .parents__item__content
        background #D4EFEE
        padding 2em;

        ul
            //list-style-image: url('sqpurple.gif');

            li
                margin-bottom 2em
