@import "variables"

.parents__item

    font-size 20px
    background #dcf7f6

    .row
        flex-direction row

    img
        max-width 80%

    &:nth-of-type(odd)

        background #fff

        .row
            flex-direction row-reverse

    .col-md-12
        padding-top 40px
        padding-bottom 40px

    &:last-of-type
        .col-md-12
            padding-bottom 80px

    @media screen and (min-width: screen-sm-min)
        .row
            display: flex
            align-items center

.parents__item__image

    display flex
    justify-content: center
    align-items center

.parents__item--benefits

    .parents__item__content

        background rgba(#fff, 0.5)
        padding 2em;

        h2

            margin-bottom 1.5em

        ul
            list-style none
            padding-left 20px

            li
                margin-bottom 2em
                display flex
                align-items center

                img
                    width 40px
                    margin-right 10px
