@import "variables"

.site
  body&
    background-color #DCF7F6
    font-weight 300

    &.no-scroll
      overflow hidden
        
  nav
      width 100%
      background-color white
      color darkEakPurple
      height 90px
      font-family 'KG Next To Me', 'Open Sans', sans-serif
      display block
      position fixed
      z-index 999
      
      h1
          display inline-block
          margin 13px
          line-height 65px
          position absolute

          a
            text-decoration none
            font-size 45px
            color darkEakPurple
      ul
          list-style-type none
          line-height 90px
          margin 0 auto
          width 501px
      
      li
          display inline

          a, a:visited
            color darkEakPurple
          
      .nav-button
          padding 10px
          text-decoration none
          font-size 14px
          
          &:hover
            font-size 16px

  .main-content
    padding-top 90px
          
          
  .hiring
      font-family 'Open Sans'
      z-index 30
      top 30px
      right 107px
      border 2px solid black
      border-left none
      border-right none
      padding-left 10px
      background-color darkEakPurple
      color white

      p
        margin 0
        line-height: 2.75em;

  video
    display block
    margin 0 auto
  
  .pageHeader
      text-align center
      color #31295A
      font-family 'KG Next To Me', 'Open Sans', sans-serif    
      margin-top 20px

  header
    position relative
    margin 0
    padding 0
    width 100%

  .team-container
    .team-member 
      display block
      margin 15px 0
      padding 0 15px
      height 750px

      p
        text-align left
        line-height 1.4em

  .head-inner
    height auto
    width 100%
    margin auto
    color white
    text-align center
    font-family 'KG Next To Me', 'Open Sans', sans-serif
    background-size auto 200px
    background-position 50% 50%
    background-repeat no-repeat
    position relative
    // image-rendering -moz-crisp-edges
    // image-rendering -o-crisp-edges
    // image-rendering -webkit-optimize-contrast
    // image-rendering -webkit-crisp-edges
    // image-rendering crisp-edges
    // -ms-interpolation-mode: nearest-neighbor

    .video-overlay
      top 0
      left 0
      height 100%
      width 100%
      background-color rgba(10, 10, 10, 0.2)
      position absolute

      .text-block 
        top 50px
        left calc(50% - 383px)
        width 765px
        height 90px
        background-color rgba(49,41,90,0.8)
        position absolute
        color #fff
        h1
          position relative
          z-index 20
          padding-top 1em
          font-size 40px
          line-height 55px
          padding 20px

        p
          padding 30px
          padding-top 0
          text-align center

    .kitten-count
      top 117px

    .idea-logo
      width 70px
      position absolute
      top 10px
      left 10px
      opacity 0.8

  .social-buttons
    position absolute
    right 1rem
    top 30px
    z-index 30

    a
      display block
      width 30px
      height 30px
      color white
      border-radius 100%
      float left
      margin-left 1rem
      text-align center
      line-height 27px
      font-size 22px
      box-shadow 0 0 0.4rem rgba(white, 0.3)

    .fb
      background #3b5998

    .tw
      background #00aced
    
  .container
    width 100%
    max-width 1000px
    margin auto
    padding 15px

  .demo-button
    font-size 1.2rem
    height 3em
    &.cta
      margin 0 auto
      width 350px
      display block
      margin-bottom 20px

  .cta-cont
    height 170px
    display inline-block
    margin-top 10px
    width 100%

  .kinda-important
    text-align center
    padding-top 2rem
    padding-bottom 0
    font-size 23.8px
    font-weight 600

  brand=#443C72
  space=30px
  depress=3px
  h=6px
  .news-item
      display block
      width 50%
      margin 15px 0
      padding 0 15px

      h2
        margin-bottom 15px
  
  p
    margin-bottom 1em
    line-height 1.75em
    text-align justify

  .lead
    font-size 1.1em
    margin-bottom 35px

  label
    display block

  input
    display block
    width 100%
    margin-bottom 20px
    padding 5px
    border 1px solid rgba(black, 0.3)
    font-family 'Open Sans', sans-serif
    font-size 0.8em
    background-color rgba(white, 0.5)

    &:hover, &:focus
      background-color white

  .row.img, .row .img
    text-align center

  .row img
    max-width 100%

  .speech-bubble-carousel
    button
      display none !important

    .speech-bubble-container

      .speech-bubble
        position relative
        padding 10px
        margin 10px
        margin-bottom 20px
        top 0
        bottom 0
        background-color white
        border-radius 10px
        font-size: 0.8em;
        text-align center
        color #444

        p
          text-align center

          &:first-child
            font-weight bold

        &:after
          content " "
          position absolute
          display block
          width 0
          height 0
          bottom -40px
          left 50%
          margin-left -20px
          border 20px solid transparent
          border-top 20px solid white

      img
        height 50px
        margin-left calc(50% - 25px)

  h3
    font-size 18px
    text-align center
    margin-bottom 15px

  .social
    ul
      padding 0
      margin 0
      margin-top 43px
      margin-bottom 70px
      list-style none

    li
      margin-bottom 15px

    a
      text-decoration none
      color brand

    .fa
      display inline-block
      width 30px
      height 30px
      margin-right 15px
      color white
      background-color brand
      border-radius 100%
      font-size 24px
      text-align center
      line-height 1.2em

      &:before
        color white

    form
      border-left 1px solid rgba(brand, 0.3)

    label
      font-size 14px
      line-height 14px

    .button
      font-size 12px
      line-height 10px
      margin-bottom 25px
      margin-top 16px

  .lim
    max-width 380px

  .space-top-sm
    margin-top 30px

  .space-top
    margin-top 50px

  .flowers
    margin-top 25px
    width 125px

  .space-bottom
    margin-bottom 30px

  ul
    margin-left 25px
    list-style circle

  .lang-select
    display none
    position fixed
    width 350px
    top 100px
    left 50%
    margin-left -(350px/2)
    z-index 30

    &.active
      display block
      animation lang-in 0.5s ease

    .cta
      width 100%
      margin-bottom 0

      &:hover
        margin-bottom -3px

    .headphones
      width 150px
      margin auto
      margin-top 20px
      text-align center
      color white
      color rgba(white, 0.8)

      .fa, .fa:before
        color inherit

      .fa
        display block
        font-size 100px

  shelbySize = 212px
  footer
    position relative
    padding 30px 10px
    text-align center
    background-color #ECE07A

    .shelby
      display none
      position absolute

      img
        width 100%
        height auto
    @media screen and (min-width: 650px)
      padding-top 60px
      margin-top 50px

      .shelby
        top -40px
        display block
        left 50%
        margin-left 130px
        width (shelbySize * 0.75)

    @media screen and (min-width: 870px)
      .shelby
        left auto
        right 30px
        margin 0

    @media screen and (min-width: 960px)
      padding-top 30px
      margin-top 0

      .shelby:before
        content attr(data-dialog)
        display block
        position absolute
        top -25px
        left -115px
        width 120px
        padding-right 20px
        color black
        opacity 0
        background-image url(/img/line.png)
        background-size 30px auto
        background-position bottom right
        background-repeat no-repeat
        transform translate(10px, 10px)
        transition all 0.3s ease

      .shelby:hover:before
        transform translate(0, 0)
        opacity 1

@keyframes lang-in
  from
    opacity 0
    transform translateY(50px)

  to
    opacity 1
    transform translateY(0)
