.team

    .team-members
    .advisors

        h2 {
            margin-top 2em;
        }

        .team-member
        .advisor

            background rgba(#fff, 0.5)
            height 560px
            overflow hidden
            border 10px solid #dcf7f6
            border-bottom 0

            h2

                margin-top 0;
                margin-bottom 0
                font-size 24px

            i
                margin-bottom 10px
                display block


            @media screen and (min-width: screen-sm-min)

                border-left none

                &:first-of-type

                    padding-left: 0

                &:nth-of-type(odd)

                    border-right none

            @media screen and (min-width: screen-md-min)

                &:nth-of-type(odd)

                    border-right 10px solid #dcf7f6

    .advisors

        .advisor

            height 515px

            img

                max-width 50%
                display block
                margin 40px auto

            &:last-of-type

                margin-bottom 10px
