font = 'Open Sans', sans-serif
brandFont = 'KG Next to Me', 'Open Sans', sans-serif

arem = 18px

eakPurple=#443C72
darkEakPurple=#31295A
lightEakPurple=lighten(eakPurple, 50%)
hoverColor=#c80ce8

eakSkyBlue=#93cfe9

screen-sm-min=768px
screen-md-min=992px
screen-lg-min=1200px
