<ul>
    <li>
        <img src="/img/green-tick.gif" class="bullet"/>
        Teaches computational thinking and professional coding languages e.g. HTML</li>
    <li>
        <img src="/img/green-tick.gif" class="bullet"/>
        Allows you to play and learn coding skills alongside your child, and share levels that you’ve built together</li>
    <li>
        <img src="/img/green-tick.gif" class="bullet"/>
        Helps to eliminate ‘technophobia’</li>
    <li>
        <img src="/img/green-tick.gif" class="bullet"/>
        Builds up essential life skills that support your child’s intellectual and creative development</li>
    <li>
        <img src="/img/green-tick.gif" class="bullet"/>
        New content released regularly (every 8-10 weeks)</li>
    <li>
        <img src="/img/green-tick.gif" class="bullet"/>
        Kitten gifs! (there are lots more in the full version)</li>
</ul>

<p>Coming soon! Tools to create new levels in E.A.K.</p>
