<h2>Benefits to students:</h2>

<ul>
    <li>
        <img src="/img/green-tick.gif" class="bullet"/>
        Knowledge of both computational thinking and real coding languages e.g. HTML, CSS and JavaScript</li>
    <li>
        <img src="/img/green-tick.gif" class="bullet"/>
        Additional skills complementing and going beyond the national computing curriculum (e.g. PLTS)</li>
    <li>
        <img src="/img/green-tick.gif" class="bullet"/>
        Helps to eliminate ‘technophobia’</li>
    <li>
        <img src="/img/green-tick.gif" class="bullet"/>
        New content released regularly (every 8-10 weeks)</li>
</ul>

<p>Coming soon!</p>
<p>Tools to create new levels in E.A.K.</p>
