<h2>Benefits to teachers</h2>

<ul>
    <li>
        <img src="/img/green-tick.gif" class="bullet"/>
        An extremely effective method to engage both girls and boys aged 8-14 in Computing</li>
    <li>
        <img src="/img/green-tick.gif" class="bullet"/>
        Allows teachers to become facilitators of autonomous, independent learning</li>
    <li>
        <img src="/img/green-tick.gif" class="bullet"/>
        New content released regularly (every 8-10 weeks)</li>
    <li>
        <img src="/img/green-tick.gif" class="bullet"/>
        Lesson plans that support the UK computing curriculum</li>
</ul>
