<!-- @@block = footer -->

<div class="featured">
    <div class="container">
        <div class="col-md-12">
            <img src="/img/homepage/logo-banner.png"/>
        </div>
    </div>
</div>

<footer>
    <div class="container">
        <div class="col-md-12">
            <!--<div class="shelby"-->
                 <!--data-dialog="My feelers control the universe">-->
                <!--<img src="/img/shelby.png"-->
                     <!--alt="SHELBY! His feelers control the universe">-->
            <!--</div>-->
            &copy; 2016 Drum Roll HQ Limited.
            <div class="cover"></div>
        </div>
    </div>
</footer>

<!-- @@close -->
