<!-- @@block = footer -->

<footer>
    <div class="container">
        <div class="col-md-12">
            <div class="shelby"
                 data-dialog="My feelers control the universe">
                <img src="/img/shelby.png"
                     alt="SHELBY! His feelers control the universe">
            </div>
            <a href="https://pilot.eraseallkittens.com/en/play/#/play/cutscene/intro">Play the pilot version</a>. <br>
            Made in London by the lovely humans at <a href="http://drumrollhq.com/">Drum Roll</a>.
            &copy; 2016 Drum Roll HQ Limited.
            <div class="cover"></div>
        </div>
    </div>
</footer>

<!-- @@close -->
