<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><!-- @@var = title --> | E.A.K.</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- build:css landing.css -->
      <link rel="stylesheet" href="/styles/reset.css">
      <link rel="stylesheet" href="/styles/fonts.css">
      <link rel="stylesheet" href="/styles/base.css">
      <link rel="stylesheet" href="/styles/grid.css">
      <link rel="stylesheet" href="/styles/kitten-count.css">
      <link rel="stylesheet" href="/styles/button.css">
      <link rel="stylesheet" href="/styles/cover.css">
      <link rel="stylesheet" href="/styles/landing.css">
    <!-- endbuild -->
  </head>
  <body class="<!-- @@var = class --> landing">
    <img src="/img/idea-squished.png" style="width: 80px; position: absolute; top: 0; left: 0; z-index: 10;">
    <div class="container">
      <main>
        <header>
          <img src="/img/logo-animated.gif" style="width: 150px; position: absolute; left: 0;" />
          <img src="/img/idea-logo-dark.png" style="width: 150px; position: absolute; right: 0;" />
          <!-- <h2>Save kittens. Save the world.</h2> -->
          <h3 class="headline" style="margin-top: 1.5em;">
            <!-- @@placeholder = tagline -->
          </h3>
        </header>

        <section class="cont row">
          <div class="summary col-sm-8">
            <!-- @@placeholder = summary -->
          </div>
        </section>

        <div class="cta-cont">
          <!-- @@placeholder = signup -->
        </div>
      </main>
    </div>

    <!-- build:js landing.js -->
      <script src="/scripts/landing.js"></script>
    <!-- endbuild -->

    <!-- @@include = ga.html -->
  </body>
</html>
