<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><!-- @@var = title --> | E.A.K.</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- build:css landing.css -->
      <link rel="stylesheet" href="/styles/reset.css">
      <link rel="stylesheet" href="/styles/fonts.css">
      <link rel="stylesheet" href="/styles/base.css">
      <link rel="stylesheet" href="/styles/grid.css">
      <link rel="stylesheet" href="/styles/kitten-count.css">
      <link rel="stylesheet" href="/styles/button.css">
      <link rel="stylesheet" href="/styles/cover.css">
      <link rel="stylesheet" href="/styles/landing.css">
    <!-- endbuild -->
  </head>
  <body class="<!-- @@var = class --> landing">
    <div class="container">
      <main>
        <header>
          <h1>E.A.K.</h1>
          <!-- <h2>Save kittens. Save the world.</h2> -->
          <h3 class="headline">
            <!-- @@placeholder = tagline -->
          </h3>
        </header>

        <!-- <section class="cont row">
          <div class="summary col-md-offset-3 col-md-6">
            <!-- @@placeholder = summary -- >
          </div>
        </section> -->

        <div class="cont row">
          <ul class="list">
            <!-- @@placeholder = list -->
          </ul>
        </div>

        <div class="cta-cont">
          <a href="#signup" class="btn cta">
            <!-- @@placeholder = signup -->
          </a>
        </div>
      </main>
      <div class="kitten-count"></div>
    </div>
    <footer>
      <div class="footer-cont">
        <!-- @@placeholder = footer -->
      </div>
    </footer>
    <div class="cover"></div>
    <div id="signup">
      <div class="signup-container">
        <h4>Sign up to play</h4>
        <form method="POST" action="http://eraseallkittens.us7.list-manage2.com/subscribe/post?u=41bfffb3f1074558ba7a56fe5&amp;id=5891a36a1a">
          <div class="form-group">
            <div class="input">
              <input id="email" type="email" value="" name="EMAIL" placeholder="tarquin@glitterquiff.org">
            </div>
            <div class="addon">
              <button type="submit">Play &rarr;</button>
            </div>
          </div>
        </form>
        <p class="disclaimer">
          We won't send you spam, or share your email with anyone else.
        </p>
      </div>
    </div>

    <!-- build:js /landing.js -->
      <script src="/scripts/landing.js"></script>
    <!-- endbuild -->

    <!-- @@include = ga.html -->
  </body>
</html>
