<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>E.A.K. | Erase All Kittens</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- build:css style.css -->
  <link rel="stylesheet" href="/styles/reset.css">
  <link rel="stylesheet" href="/styles/fonts.css">
  <link rel="stylesheet" href="/styles/font-awesome.css">
  <link rel="stylesheet" href="/styles/base.css">
  <link rel="stylesheet" href="/styles/grid.css">
  <link rel="stylesheet" href="/styles/kitten-count.css">
  <link rel="stylesheet" href="/styles/button.css">
  <link rel="stylesheet" href="/styles/cover.css">
  <link rel="stylesheet" href="/styles/slick.css">
  <link rel="stylesheet" href="/styles/site.css">
  <!-- endbuild -->
</head>

<body class="<!-- @@var = class -->">
  <!-- @@include = nav.html -->
  <!-- @@placeholder = main -->
  <!-- @@include = footer.html -->
  <!-- build:js script.js -->
  <script type="text/javascript" src="/scripts/kitten-count.js"></script>
  <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script type="text/javascript" src="/scripts/slick.js"></script>

  <!--@@placeholder = scripts -->
  <!-- endbuild -->

  <!-- @@include = ga.html -->
</body>

</html>