<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>E.A.K. | Erase All Kittens</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- build:css style.css -->
      <link rel="stylesheet" href="/styles/reset.css">
      <link rel="stylesheet" href="/styles/fonts.css">
      <link rel="stylesheet" href="/styles/font-awesome.css">
      <link rel="stylesheet" href="/styles/base.css">
      <link rel="stylesheet" href="/styles/grid.css">
      <link rel="stylesheet" href="/styles/site.css">
    <!-- endbuild -->
  </head>
  <body class="<!-- @@var = class -->">
    <!-- @@placeholder = main -->

    <!-- build:js script.js -->
    <!-- endbuild -->

    <!-- @@include = ga.html -->
  </body>
</html>
