<!-- @@block = nav -->

<nav>
    <h1><a href='/'>E.A.K.</a></h1>
    <ul>
        <li><a class='nav-button' href="/">About</a></li>
        <li><a class='nav-button' href='/parents.html'>Parents</a></li>
        <li><a class='nav-button' href='/schools.html'>Schools</a></li>
        <li><a class='nav-button' href='/team.html'>Team</a></li>
        <li><a class='nav-button' href='/news.html'>News</a></li>
        <li><a class='nav-button' href='/buy.html'>Buy</a></li>
    </ul>
    <div class="social-buttons">
        <a href="https://facebook.com/drumrollhq" class="fb"><span class="fa fa-facebook"></span></a>
        <a href="https://twitter.com/eraseallkittens" class="tw"><span class="fa fa-twitter"></span></a>
    </div>
</nav>

<!-- @@close -->
