<!-- @@block = nav -->

<nav>
        <ul>
            <li><a class='nav-button' href="/about.html">About</a></li>
            <li><a class='nav-button' href='/parents.html'>Parents</a></li>
            <li><a class='nav-button' href='/schools.html'>Schools</a></li>
            <li><a class='nav-button' href='/team.html'>Team</a></li>
            <li><a class='nav-button' href='#'>New Levels!</a></li>
            <li><a class='nav-button' href='#'>Testimonials</a></li>
        </ul>
        <div class="hiring">
          <a href=" https://jobbio.com/gb/drumroll-careers">We're Hiring!</a>
      </div>
      <div class="social-buttons">
        <a href="https://facebook.com/drumrollhq" class="fb"><span class="fa fa-facebook"></span></a>
        <a href="https://twitter.com/eraseallkittens" class="tw"><span class="fa fa-twitter"></span></a>
      </div>
    </nav>

<!-- @@close -->