<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><!-- @@var = title --> | E.A.K.</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- build:css /simple.css -->
      <link rel="stylesheet" href="/styles/reset.css">
      <link rel="stylesheet" href="/styles/fonts.css">
      <link rel="stylesheet" href="/styles/base.css">
      <link rel="stylesheet" href="/styles/kitten-count.css">
      <link rel="stylesheet" href="/styles/button.css">
      <link rel="stylesheet" href="/styles/simple.css">
    <!-- endbuild -->
  </head>
  <body class="<!-- @@var = class --> landing">
    <div class="container">
      <main>
        <header>
          <h1>E.A.K.</h1>
          <h2>Save kittens. Save the world.</h2>
        </header>

        <section id="signup">
          <h3>
            <!-- @@placeholder = tagline -->
          </h3>
          <p>
            <!-- @@placeholder = summary -->
          </p>
        </section>
      </main>
      <div class="kitten-count"></div>
    </div>

    <!-- build:js /kitten-count.js -->
      <script src="/scripts/kitten-count.js"></script>
    <!-- endbuild -->

    <!-- @@include = ga.html -->
  </body>
</html>
